body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: black;
  margin-top: 10px;
}

body p, a {
  text-align: center;
  color: white;
  font-family: 'Meiryo UI';
}

body a {
  font-weight: bold;
  text-decoration: none;
}

.pagelist {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 192px;
  text-align: center;
  margin: 3px;
  background: AliceBlue;
  height: 144px;
  opacity: 0.6;
  transition: transform 0.1s linear;
}

img {
  width: 192px;
  height: 116px;
  margin-top: 28px;
}

.item:hover {
  opacity: 1;
  transform: scale(1.1);
  z-index: 1;
}

.item h5 {
  position: absolute;
  margin: 0;
  margin-top: 2px;
  color: LavenderBlush;
  font-family: 'Meiryo UI';
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-left: 5px;
}